<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- Fixed Upgrade ID -->
  <?define UpgradeCode = "{122597D6-9A61-458A-AAA8-31B734200785}"?>

  <!-- Versioning for this product is not required as the Flutter SDK will handle upgrades
   and the version details will be removed from the Registry upon successful install-->
  <?define BuildVersion=0.0.0.0?>
  
  <!-- Define main product-->
  <!-- The Product GUID is present here -->
	<Product Id="{714D2060-D72C-4CDD-992C-0F6AA6819772}" 
           Name="!(loc.ProductName)" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)"
           Codepage="1252">
    
    <!-- Provide package details -->
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine"
             Platform="x64"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             />
    <!-- Downgrade error message-->
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

    <!-- Include .cab file into msi -->
		<MediaTemplate 
      EmbedCab="yes"
      />

    <!-- Define icon -->
    <Icon Id="icon.ico" SourceFile=".\assets\icon.ico"/>

    <!-- Add icon.ico for the installer (shows up in Add/Remove programs)-->
    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    <!-- Help/Support website shown in the Add/Remove programs-->
    <Property Id="ARPURLINFOABOUT">https://flutter.dev</Property>
    <!-- Change Exit Dialog Information -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="!(loc.ExitMessage)"/>
    
    <!-- Create a basic UI for the installer -->
    <UIRef Id="WixUI_Minimal" />

    <!-- Change the installer UI background images -->
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\assets\Background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\assets\Banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\assets\License.rtf" />
    
    <!-- Disable Repair/Modify from Control Panel -->
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />

    <!-- Add custom action DLL -->
    <Binary Id="DownloadSDKDLL" SourceFile="$(var.DownloadSDK.TargetDir)DownloadSDK.CA.dll" />
    <Binary Id="UnpackSDKDLL" SourceFile="$(var.UnpackSDK.TargetDir)UnpackSDK.CA.dll" />
    <Binary Id="RemoveFilesDLL" SourceFile="$(var.RemoveFiles.TargetDir)RemoveFiles.CA.dll" />
    <Binary Id="RemoveFilesAndRegistryDLL" SourceFile="$(var.RemoveFilesAndRegistry.TargetDir)RemoveFilesAndRegistry.CA.dll" />

    <!-- Custom Action that points to the binary -->
    <CustomAction Id="CA_DownloadSDK"
                  BinaryKey="DownloadSDKDLL"
                  DllEntry="DownloadSDK"
                  Execute="deferred"
                  Return="check"
                  />
    <CustomAction Id="CA_UnpackSDK"
                  BinaryKey="UnpackSDKDLL"
                  DllEntry="UnpackSDK"
                  Execute="deferred"
                  Return="check"
                  />
    <CustomAction Id="CA_RemoveFiles"
                  BinaryKey="RemoveFilesDLL"
                  DllEntry="RemoveFiles"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore"
                  />
    <CustomAction Id="CA_Rollback"
                  BinaryKey="RemoveFilesDLL"
                  DllEntry="RemoveFiles"
                  Execute="rollback"
                  Impersonate="no"
                  Return="ignore"
                  />
    <CustomAction Id="CA_RemoveFilesAndRegistry"
                  BinaryKey="RemoveFilesAndRegistryDLL"
                  DllEntry="RemoveFilesAndRegistry"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore"
                  />
    
    <!-- Note: Use InstallUISequence when necessary to run a Custom Action during the info gathering process -->
    <!-- InstallExecuteSequence determines the sequence during the actual installation process -->
    <InstallExecuteSequence>
      <Custom Action="CA_Rollback" Before="InstallFinalize">(NOT Installed) AND (NOT REMOVE)</Custom>
      <Custom Action="CA_DownloadSDK" After="CA_Rollback">(NOT Installed) AND (NOT REMOVE)</Custom>
      <Custom Action="CA_UnpackSDK" After="CA_Rollback">(NOT Installed) AND (NOT REMOVE)</Custom>
      <Custom Action="CA_RemoveFilesAndRegistry" After="CA_UnpackSDK">(NOT Installed) AND (NOT REMOVE)</Custom>
      <Custom Action="CA_RemoveFiles" After="InstallInitialize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>

    <!-- Update UI to reflect the current status -->
    <UI>
      <ProgressText Action="CA_DownloadSDK">Downloading SDK... (this might take a while depending on your internet)</ProgressText>
      <ProgressText Action="CA_UnpackSDK">Extracting Files... (this usually takes 10-15 minutes)</ProgressText>
    </UI>
    
    <Feature Id="ProductFeature" Title="FlutterSDK" Level="1">
      
			<!--<ComponentGroupRef Id="SDKComponents" />-->
      <Component Id="SDKPATH" Guid="{1F1B024D-64E2-4C4E-A975-91CFDC420D6B}" Directory="INSTALLFOLDER" KeyPath="yes">
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]bin" Permanent="no" Part="first" Action="set" System="no"/>
      </Component>
		
    </Feature>
    
	</Product>
	
</Wix>
